Endpoint /cache does not follow expected RFC format for ETag

According to [RFC 7232, section 2.3](https://tools.ietf.org/html/rfc7232#section-2.3); the ETag's format must be "opaque quoted string" (using double quotes).

`/cache` without `If-Modified-Since` or `If-None-Match` header does not comply with this format, where other endpoints do. It would be great to have this fixed for consistency.




Hi,

after testing it on [httpbin.org](https://httpbin.org), I found that it works differently. It seems that this is no longer repo, right? I couldn't find version 0.9.3 to provide a PR.